body {
    margin: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

button:active {
    background-color: #e2dad6;
    border: 0.1rem solid #6482ad;
    color: #6482ad;
    transform: translateY(0.02rem);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee7652d8;
    height: 10vh;
}

button {
    border: #1f2937 0.1rem solid;
    border-radius: 2rem;
    background-color: rgb(247, 252, 255);
    color: black;
    align-self: center;
}

button:hover {
    background-color: transparent;
}

.mainContainer {
    flex-grow: 1;
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./media/bagel.png");
    background-size: 14vh;
    background-repeat: repeat;
}

.mainContainer div {
    font-size: 2rem;
    font-weight: 500;
    background-color: #e2dad6b6;
    padding: 2rem;
    border-radius: 5rem;
    margin-bottom: 1rem;
}

.boards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.p1,
.p2 {
    display: grid;
    grid-template-columns: repeat(10, 2.5rem);
    grid-template-rows: repeat(10, 2.5rem);
}

.mainContainer div.active {
    background-color: #e73c7e;
}

.p1 button,
.p2 button {
    height: 2.43rem;
    width: 2.43rem;
    border: none;
    border-radius: 0;
}

.ship {
    background-color: #1f2937e5;
}

.missed {
    background-color: #e2dad6c7;
}

.missed::after {
    content: "X";
}

.hit {
    color: #fafafa;
    background-color: #e99e87;
}

.hit::after {
    content: "O";
}

.set button:disabled {
    background-color: #e2dad6c7;
}

.play button:not(:disabled) {
    background-color: #e2dad6c7;
}

.hide {
    background-color: #e2dad6c7;
}

.ghostShips {
    display: grid;
    background-color: #e2dad6b6;
    position: fixed;
    pointer-events: none;
}

.ghost {
    background-color: #1f2937;
    height: 2.43rem;
    width: 2.43rem;
}

.btns {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
}

.btns button {
    height: 2.5rem;
    width: 8rem;
    font-size: 1rem;
}

fieldset {
    border: none;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
}

legend {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.mainContainer fieldset div {
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 0;
}

label {
    font-size: 1.2rem;
    display: block;
    width: 8rem;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 5rem;
}

input {
    appearance: none;
    height: 0;
    width: 0;
    margin: 0;
}

fieldset div:has(input:checked) {
    background-color: #ee7752;
}
